{% extends 'base.html.twig' %}
{% block body %}
    <div>Name: {{ feedback.name }}</div>
    <div>Phone: {{ feedback.phone }}</div>
    <div>
        <div>Content:</div>
        <div>{{ feedback.content }}</div>
    </div>
{% endblock %}
