{% extends 'base.html.twig' %}
{% block body %}
    <div>Name: {{ name }}</div>
    <div>Phone: {{ phone }}</div>
    <div>
        <div>Content:</div>
        <div>{{ content }}</div>
    </div>
{% endblock %}
